.loginTextFields{
  border-radius: 9px;
  padding: 10px 0 10px;
}

.loginTextFields{
  padding: 10px 0 10px;
}

.loginTextFields{
  padding: 0;
}

.loginTextFields{
  height: 0px;
}

.loginTextFields .x-form-type-text .x-form-text-default, .x-form-type-password .x-form-text-default{
  background-color: white;
}

.passwordField{
  padding: 10px 0 10px;

}

.loginBtn {
  background-color: #87c991;
  color: #FFFFFF;
  font-family: Montserrat;

}

.loginPanel{
  background-color: #125d72;


}