.mainViewCls .x-panel-body-el{
  border: 0;
  border-radius: 0;
  background-color: #125D72;
}

.x-menu {
  border: 0;
  border-radius: 0;
}


.mainMenuCls .x-menu-body-el {
  background-color: #125D72;
  border: 0;
  border-radius: 0;
}

.mainMenuCls .x-panel-body-el {
  background-color: #125D72;
  border: 0;
  border-radius: 0;
}

.mainMenuCls .x-menuitem {
  text-align: center;
  width: 180px;
  margin-left: 10px;
}

.mainMenuCls .x-menuitem .x-body-el{
  background-color: #293846;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 1px;
  height: 60px;
  color: #FCE059;
}

.mainMenuCls .x-img {
  margin: 10px 0 40px 0;
}

.logoutBtnCls {
}
